<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <script src="lib/angular.js"></script>
    <script src="../directives/auto-complete.js"></script>
    <script src="../directives/auto-complete-multi.js"></script>
    <script src="../directives/auto-complete-div.js"></script>
    <script src="../services/auto-complete.js"></script>
    <script>
      angular.module('myApp', ['angularjs-autocomplete']).controller('MyCtrl', function($scope) {
        $scope.source1 = ["this", "is", "array", "of", "text"]; 
        $scope.source2 = [{id:1, value:'One'}, {id:2, value:'Two'}, {id:3, value:'Three'}, {id:4, value:'Four'}];
        $scope.callback = function(arg) {
          $scope.selected = arg;
        };
        $scope.foo = "model value goes here";
        $scope.source = $scope.source1;
        $scope.selected = 'selected by callback object goes here';
        $scope.displyProp = 'value';
        $scope.valueProp = 'id';
      });
      var printHTML = function(selector) {
        document.write('<pre>'+
          document.querySelector(selector).outerHTML.replace(/</g,'\n&lt;').replace(/[ ]([a-z])/g,"\n  $1") +
        '</pre>')
      };
    </script>
    <style>
      div[auto-complete] > input  {width: 300px; height: 30px; border-color: #ccc}
      div[auto-complete] > select {width: 300px; height: 30px; -webkit-appearance: menulist-button;}
    </style>
  </head>

  <body ng-app="myApp" ng-controller="MyCtrl">
    
    <h1> Autocomplete - single </h1>

    Autocomplete source
    <ul>
      <li>
        <input type="radio" ng-model="source" ng-value="source1" name="source">
        {{source1}}</li>
      <li>
        <input type="radio" ng-model="source" ng-value="source2" name="source">
        {{source2}}</li>
    </ul>

    <div auto-complete id="ih" source="source" value-changed="callback(value)">
      <input ng-model="foo" ng-disabled="disabled" />
    </div>
    <input type="checkbox" ng-model="disabled"> Disable 
    <script>printHTML('div[auto-complete]#ih');</script>
    <br/>$scope.foo:  <b>{{ foo }}</b>

    <br/>
    <br/>
    <br ng-init="bar=''" />
    <div auto-complete id="sh" source="source" value-changed="callback(value)">
      <select id='sh' ng-model="bar" ng-disabled="disabled"></select>
    </div>
    <input type="checkbox" ng-model="disabled"> Disable 
    <script>printHTML('div[auto-complete]#sh');</script>
    <br/>$scope.bar:  <b>{{ bar }}</b>

    <br/>$scope.source: {{ source }}
    <br/>$scope.selected = {{ selected }}
  </body>
</html>
