<!DOCTYPE html>
<html>
<head>
  <title>test</title>
  <script src="https://code.angularjs.org/1.3.15/angular.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-resource.js"></script>
  <script src="../directives/auto-complete.js"></script>
  <script src="../directives/auto-complete-div.js"></script>
  <script src="../services/auto-complete.js"></script>
  <script>
  angular.module('myApp', ['ngResource', 'angular-autocomplete']).controller('MyCtrl', function($scope, $http, $resource) {
    $scope.source1 = "http://maps.googleapis.com/maps/api/geocode/json?address=:keyword";
    $scope.source2 = function(param) { 
      return $http.get("http://maps.googleapis.com/maps/api/geocode/json?address="+param.keyword);
    };
    $scope.source3 = $resource("http://maps.googleapis.com/maps/api/geocode/json?address=:keyword", {keyword:'@keyword'}).get;

    $scope.callback = function(address) {
      $scope.address = address;
    }
    $scope.source = $scope.source1;
  });
  var printHTML = function(selector) {
    document.write('<pre>'+
      document.querySelector(selector).outerHTML.replace(/</g,'\n&lt;').replace(/[ ]/g,"\n  ") +
    '</pre>')
  };
  </script>
  <style>
    input[auto-complete] {width: 300px; height: 30px}
    select[auto-complete] {width: 300px; height: 30px; -webkit-appearance: menulist-button;}
  </style>
</head>

<body ng-app="myApp" ng-controller="MyCtrl">
  
  <h1>AutoComplete With Google Geocode</h1>

  Please pick your type of source that represents Google geocode url:
  <ul>
    <li><input type="radio" ng-model="source" ng-value="source1"> URL string<br/>
      <pre>{{source1}}</pre>
    <li><input type="radio" ng-model="source" ng-value="source2"> function<br/>
      <pre>function(param) { 
  return $http.get("http://maps.googleapis.com/maps/api/geocode/json?address="+param.keyword);
}</pre>
    <li><input type="radio" ng-model="source" ng-value="source3"> $resource <br/>
      <pre>$resource("http://maps.googleapis.com/maps/api/geocode/json?address=:keyword",
      {keyword:'@keyword'}).get;</pre>

  </ul>

  <input id='ip' 
    auto-complete 
    ng-model="addressText" 
    source="source" 
    path-to-data="results"
    display-property="formatted_address"
    min-chars="2"
    placeholder="Enter Address"
    value-changed="callback(value)"/>
  <script>printHTML("#ip")</script>

  <br/>
  <br/>$scope.addressText: <b>{{addressText}}</b> 
  <br/>$scope.address :<pre>{{address|json}}</pre>
</body>
</html>
