<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <script src="lib/angular.js"></script>
    <script src="../directives/auto-complete.js"></script>
    <script src="../directives/auto-complete-multi.js"></script>
    <script src="../directives/auto-complete-div.js"></script>
    <script src="../services/auto-complete.js"></script>
    <script>
      angular.module('myApp', ['angularjs-autocomplete']).controller('MyCtrl', function($scope) {
        $scope.source1 = ["this", "is", "array", "of", "text"]; 
        $scope.source2 = [{id:1, value:'One'}, {id:2, value:'Two'}, {id:3, value:'Three'}, {id:4, value:'Four'}];
        $scope.callback = function(selected) {
          $scope.selected = selected;
        };
        $scope.foo = ["is"];
        $scope.source = $scope.source1;
        $scope.disabled = false;
      });
      var printHTML = function(selector) {
        document.write('<pre>'+
          document.querySelector(selector).outerHTML.replace(/</g,'\n&lt;').replace(/[ ]([a-z])/g,"\n  $1") +
        '</pre>')
      };
    </script>
    <style>
      select[auto-complete] {width: 500px; height: 60px;}
    </style>
  </head>

  <body ng-app="myApp" ng-controller="MyCtrl">
    <h1> Autocomplete - multiple </h1>

    Autocomplete source
    <ul>
      <li><input type="radio" ng-model="source" ng-value="source1"> {{source1}}
      <li><input type="radio" ng-model="source" ng-value="source2"> {{source2}}
    </ul>
    <br/>
    <br/>
    <div auto-complete-multi 
      placeholder="Select One"
      source="source" 
      value-changed="callback(value)"> 
      <select id='sp' ng-disabled="disabled" ng-model="foo"></select>
    </div>
    <input type="checkbox" ng-model="disabled"> Disable
    <script>printHTML("select")</script>
    <br/>$scope.foo:  <b>{{ foo }}</b>
    <br/>$scope.source: {{ source }}
    <br/>$scope.selected = {{ selected }}
  </body>

</html>
