/**
 *
 * This style is already applied through directive.
 * 
 * Thus, It is not required to add this for default styling
 *
 * However, if you want to change this default style,
 * then this is good starting point to build your own.
 *
 * For custom styling, set default-style="false"
 *
 */

auto-complete-div.default-style input {
  outline: none;
  border: 2px solid transparent;
  border-width: 3px 2px;
  margin: 0;
  box-sizing: border-box;
  background-clip: content-box;
}

select ~ auto-complete-div.default-style input {
  border-width: 3px 7px;
}

auto-complete-div.default-style ul {
  background-color: #fff;
  margin-top: 2px;
  display : none;
  width : 100%;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
} 

auto-complete-div.default-style ul li {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
} 

auto-complete-div.default-style ul li.selected {
  background-color: #ccc;
}

auto-complete-div.default-style ul li:last-child {
  border-bottom: none;
} 

auto-complete-div.default-style ul li:hover {
  background-color: #ccc;
} 

div .auto-complete-repeat {
  background : #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 3px;
  padding: 3px; 
}

div .auto-complete-repeat .delete {
  margin: 0 3px;
  color: red;
  border: none;
  background-color: transparent; 
}

div .auto-complete-repeat .delete[disabled] {
  display: none;
}

.auto-complete-div-multi-wrapper auto-complete-div.default-style {
  position: relative;
  display: inline-block;
}

.auto-complete-div-multi-wrapper auto-complete-div.default-style input {
  background: transparent;
  border-radius: 0;
  border: none;
  margin: 3px;
  padding: 3px;
}

.auto-complete-div-multi-wrapper auto-complete-div.default-style ul {
  position: absolute;
  top: 1.5em;
  left: 0;
  width: auto;
  min-width: 10em;
}
