<!DOCTYPE html>
<html>
  <head>
    <title>Input Autocomplete with Static List </title>
    <script src="spec/lib/angular.js"></script>
    <script src="ks-autocomplete.js"></script>
    <script>
      angular.module('myApp', ['ks']).controller('MyCtrl', function($scope) {
        $scope.source1 = ['hi','welcome', 'to', 'auto', 'complete']; 
        $scope.source2 = [{id:1, value:'aaaaa'},{id:2, value:'bbbbl'}, {id:3, value:'cdfdsaf'}, {id:4, value:'fdsaf'}, {id:5, value:'fdsaf'}]; 
        $scope.source3 = {1:'foo', 2:'bar', 3:'fooz', 4:'baz', 5:'foobaz'}; 
        $scope.source4 = {1:{text:'foo'}, 2:{text:'bar'}, 3:{text:'fooz'}, 4:{text:'baz'}, 5:{text:'foobaz'}}; 
        $scope.callback = function(arg) {
          $scope.selected = arg;
        };
      });
    </script>
  </head>

  <body ng-app="myApp" ng-controller="MyCtrl">
    <h1> Input Autocomplete / different source</h1>

    <h2> Source is an array with primitive elements </h2>
    <pre> ['hi','welcome', 'to', 'auto', 'complete']</pre> 
    <input ks-autocomplete="source1" value-changed="callback(selected)" ng-model="m1" />

    <h2> Source is an array with hash elements </h2> 
    <pre> [{id:1, value:'aaaaa'},{id:2, value:'bbbbl'}, {id:3, value:'cdfdsaf'}, {id:4, value:'fdsaf', {id:5, value:'fdsaf'}]</pre> 
    <input ks-autocomplete="source2" value-changed="callback(selected)" ng-model="m2" />

    <h2> Source is a hash with primitive value </h2>
    <pre> {1:'foo', 2:'bar', 3:'fooz', 4:'baz', 5:'foobaz'}</pre> 
    <input ks-autocomplete="source3" value-changed="callback(selected)" ng-model="m3" />

    <h2> Source is a hash with hash value </h2>
    <pre> {1:{text:'foo'}, 2:{text:'bar'}, 3:{text:'fooz'}, 4:{text:'baz'}, 5:{text:'foobaz'}}</pre> 
    <input ks-autocomplete="source4" value-changed="callback(selected)" display-property="text" ng-model="m4" />

    <br/>
    <br/>
    selected: {{selected}}

  </body>
</html>

