<!DOCTYPE html>
<html>
  <head>
    <title>Input Autocomplete with Static List </title>
    <script src="spec/lib/angular.js"></script>
    <script src="ks-autocomplete.js"></script>
    <script>
      angular.module('myApp', ['ks']).controller('MyCtrl', function($scope) {
        $scope.list1 = ['hi','welcome', 'to', 'auto', 'complete']; 
        $scope.list2 = ['aaaaa','bbbbl', 'cdfdsaf', 'fdsaf', 'fdsaf']; 
        $scope.list3 = ['foo','bar', 'fooz', 'baz', 'foobaz']; 
      });
    </script>
  </head>

  <body ng-app="myApp" ng-controller="MyCtrl">
    <h1> Input autocomplete / ng-model test</h1>
    auto complete test <br/>
    foo: <input ng-model="foo" ks-autocomplete="list1" xx-default-style="false"/>
    <br/>
    ng-model foo value: {{foo}} <br/>
    <br/>
    <br/>
    <br/>
    bar: <input ng-model="bar" ks-autocomplete="list2" />
    <br/>
    ng-model value: {{bar}} <br/>
    <br/>
    <br/>
    <br/>
    baz: <input ng-model="baz" ks-autocomplete="list3" />
    <br/>
    ng-model value: {{baz}} <br/>
    <br/>
    Change your model value here to check two-way bindings <br/>
    foo: <input ng-model="foo"/> <br/>
    bar: <input ng-model="bar"/> <br/>
    baz: <input ng-model="baz"/> <br/>
  </body>
</html>

