<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <script src="lib/angular.js"></script>
    <script src="directives/angular-autocomplete.js"></script>
    <script src="directives/autocomplete.js"></script>
    <script src="directives/autocomplete-div.js"></script>
    <script>
      angular.module('myApp', ['angular-autocomplete']).controller('MyCtrl', function($scope) {
        $scope.source1 = ["this", "is", "array", "of", "text"]; 
        $scope.source2 = {1: "you", 2:"can", 3:"also", 4:"use", 5:"hash", 6:"for", 7:"options"}
        $scope.callback = function(arg) {
          console.log('arg', arg);
        };
        $scope.foo_id = 1;
        $scope.foo_name = "you";
      });
    </script>
  </head>

  <body ng-app="myApp" ng-controller="MyCtrl">
    source 1: {{ source1 }} <br/>
    ng-model foo: {{foo}}
    <input autocomplete
      ng-model="foo"
      autocomplete-source="source1" 
      autocomplete-value-changed="callback(value)" 
      autocomplete-display-property="text" 
      style="width: 300px; height: 30px;"/>

    <br/><br/><br/>
    source 2: {{ source2 }} <br/>
    ng-model bar:  {{bar}}
    <select autocomplete
      ng-model="bar"
      autocomplete-source="source2" 
      autocomplete-value-changed="callback(value)" 
      style="width: 300px; height: 30px; -webkit-box-sizing:content-box; box-sizing:content-box; -webkit-appearance: menulist-button;">
    <select>
  </body>
</html>

